@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
html, body, #app{
  height: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
}
//===============全局基础变量定义=======================

/// 移动端用计量单位
/// @group common
/// @example
///   font-size: $ppr;
///   font-size: $ppr * 1rem * 1px;
$ppr: (750 / 16 / 1rem) !default;
